<!DOCTYPE html>

<html lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml">

  <head>
    <title>The T Bar</title>
    <meta http-equiv="Content-Language" content="en">
    <%= stylesheet_link_tag 'tbar_custom', 'spree/frontend/all', 'https://fonts.googleapis.com/css?family=Roboto:400,700,300,400italic,300italic,700italic' %>
    <%= javascript_include_tag 'application', 'spree/frontend/all' %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      function readCookie(name)
      {
        var ca = document.cookie.split(';');
        var nameEQ = name + "=";
        for(var i=0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0)==' ') c = c.substring(1, c.length); //delete spaces
          if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
      }
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-66784412-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>
  
  <body id='<%= @body_id or 'default' %>' class='<%= body_class %>'  data-hook='body' data-route='<%= "#{ params[:controller] }/#{ params[:action] }" %>'>
    <header>
      <div>
        <%= link_to image_tag('logo.png'), root_path, class: 'logo' %>
        <nav>
          <ul id='account-links'>
            <li><a href='/contact-us'>Contact us</a></li>
            <span id="login-logout-links"></span>
            <li class='cart'><%= link_to image_tag('cart-icon.png'), '/cart' %></li>
          </ul>
          <ul id='store-links'>
            <li><a href='/build_your_babe'>Build your babe</a></li>
            <li><a href='/products'>Shop</a></li>
            <li><a href='/t/mens'>Men's</a></li>
            <li><a href='/t/giftideas'>Gift Ideas</a></li>
          </ul>
        </nav>
        <div id='social-media-links'>
          <%= link_to image_tag(getS3GeneralUrl('facebook-icon.png')) %>
          <%= link_to image_tag(getS3GeneralUrl('twitter-icon.png')) %>
          <%= link_to image_tag(getS3GeneralUrl('instagram-icon.png')) %>
          <%= link_to image_tag(getS3GeneralUrl('tumblr-icon.png')) %>
          <%= link_to image_tag(getS3GeneralUrl('pinterest-icon.png')) %>
        </div>
      </div>
    </header>
      
    <main controller-type='<%= params[:controller] %>'>
      <%= flash_messages %>
      <%= yield %>
    </main>
    
    <footer>
      <p>
        <a href='/about'>About us</a>
        <a href='/ourstory'>Our story</a>
        <a href='/sizing'>Fit guide</a>
        <a href='/returns_and_exchanges'>Hassle-free returns &amp; exchanges</a>
        <a href=''>Subscriptions</a>
        <a href=''>The Panty Press</a>
        <a href='/contact-us'>Contact us</a>
      </p>
      <p>
        <a href=''>Copyright 2015 The T Bar</a>
        <a href='/privacy_policy'>Privacy policy</a>
        <a href='/terms_of_use'>Terms of use</a>
      </p>
    </footer>
  </body>
  <script type="text/javascript">
    if (readCookie('logged_in') == 'true') {
      $("#login-logout-links").html('<li><a href="/account">My Account</a></li><li><a href="/logout">Logout</a></li>');
    } else {
      $("#login-logout-links").html('<li><a href="/login">Have an account? <span>Sign in</span></a><%= link_to image_tag("user-icon.png")%></li>');
    }
  </script>

</html>
