<!DOCTYPE html>

<html lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml">

  <head>
    <meta charset="utf-8">
    <title>The T Bar</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
    <%== meta_data_tags %>
    <%= canonical_tag(current_store.url) %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta http-equiv="Content-Language" content="en">
    <link rel="image_src" href="<%= getS3GeneralUrl('thetbar_facebook_thumbnail.png')%>" /><!--formatted-->
    <link rel="image_src" href="<%= getS3GeneralUrl('thetbar_facebook_thumbnail_too.png')%>" /><!--formatted-->
    <%= stylesheet_link_tag 'tbar_custom', 'spree/frontend/all', 'https://fonts.googleapis.com/css?family=Roboto:400,700,300,400italic,300italic,700italic' %>
    <%= javascript_include_tag 'application', 'spree/frontend/all' %>
    <%= csrf_meta_tags %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script>
    <%= yield :head %>
    <script src="//load.sumome.com/" data-sumo-site-id="24c7b2192dbf9681827faf60a91fc346c3625aa4ab77533720d1c4b0ae05ff3b" async="async"></script>
    <script type="text/javascript">
      function readCookie(name)
      {
        var ca = document.cookie.split(';');
        var nameEQ = name + "=";
        for(var i=0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0)==' ') c = c.substring(1, c.length); //delete spaces
          if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
      }
    </script>
    <% if Rails.env.production? %>

      <% if "#{ params[:controller] }/#{ params[:action] }" == 'spree/orders/show' && order_just_completed?(@order) %>
        <!-- checkout pixels -->

          <!-- Facebook Conversion Code for Adds to Cart - Debra Liebowitz Caplin 1 -->
          <script>(function() {
            var _fbq = window._fbq || (window._fbq = []);
            if (!_fbq.loaded) {
              var fbds = document.createElement('script');
              fbds.async = true;
              fbds.src = '//connect.facebook.net/en_US/fbds.js';
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(fbds, s);
              _fbq.loaded = true;
            }
          })();
          window._fbq = window._fbq || [];
          window._fbq.push(['track', '6026130217035', {'value':'0.00','currency':'USD'}]);
          </script>
          <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6026130217035&amp;cd[value]=0.00&amp;cd[currency]=USD&amp;noscript=1" /></noscript>

          <!-- twitter -->
          <script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
          <script type="text/javascript">twttr.conversion.trackPid('l6qwv', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
          <noscript>
            <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l6qwv&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
            <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l6qwv&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
          </noscript>

          <!-- Google Code for Sale Conversion Pixel Conversion Page -->
          <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 942736804;
            var google_conversion_language = "en";
            var google_conversion_format = "3";
            var google_conversion_color = "ffffff";
            var google_conversion_label = "doiYCPXcvl8QpIvEwQM";
            var google_remarketing_only = false;
            /* ]]> */
          </script>
          <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
          </script>
          <noscript>
            <div style="display:inline;">
              <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/942736804/?label=doiYCPXcvl8QpIvEwQM&amp;guid=ON&amp;script=0"/>
            </div>
          </noscript>
        <!-- end checkout pixels -->
      <% else %>
        <!-- google analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-66784412-1', 'auto');
          ga('send', 'pageview');

        </script>

        <!-- Facebook Pixel Code -->
        <script>
          !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
                  document,'script','//connect.facebook.net/en_US/fbevents.js');

          fbq('init', '126898490993299');
          fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
                       src="https://www.facebook.com/tr?id=126898490993299&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Facebook Pixel Code -->

        <!-- twitter pixel code -->
        <script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
        <script type="text/javascript">twttr.conversion.trackPid('l6qwx', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
        <noscript>
          <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l6qwx&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
          <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l6qwx&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
        </noscript>
        <!-- end twitter pixel code -->
      <% end %>
      <!-- your GA code -->
    <% end %>

    <script>
      $(document).on('ready', function() {
        $('#panic').on('click', function(event) {
          event.preventDefault();
          $('#panic-overlay').toggle();
        });
      });
    </script>
  </head>
  
  <body id='<%= @body_id or 'default' %>' class='<%= body_class %>'  data-hook='body' data-route='<%= "#{ params[:controller] }/#{ params[:action] }" %>'>
  <% cache('header') do %>
    <header>
      <%= link_to image_tag('panic-button.png'), nil, id: 'panic', title: "Afraid of getting BUSTED? We've got you covered!" %>
      <div>
        <nav>
          <ul id='account-links'>
            <li><a href='/contact-us'>Contact us</a></li>
            <span id="login-logout-links"></span>
            <li class='cart'><%= link_to image_tag('cart-icon.png'), '/cart' %></li>
          </ul>
          <ul id='store-links'>
            <li><a href='/build_your_babe'>Build your babe</a></li>
            <li><a href='/products'>Shop</a></li>
            <li class='logo'><%= link_to image_tag(getS3GeneralUrl('TBAR_Logo.png')), root_path, class: 'logo' %></li>
            <li><a href='/t/mens'>Men's</a></li>
            <li><a href='https://thetbar.wordpress.com/' target="_blank" title="Our blog of sultry musings and other sexy sh*t">The Panty Press</a></li>
          </ul>
        </nav>
        <div id='social-media-links'>
          <%= link_to image_tag(getS3GeneralUrl('facebook-icon.png')), 'https://www.facebook.com/The-TBar-Boulder-21931078712', :target => "_blank" %>
          <%= link_to image_tag(getS3GeneralUrl('twitter-icon.png')), 'https://twitter.com/TheTBar', :target => "_blank" %>
          <%= link_to image_tag(getS3GeneralUrl('instagram-icon.png')), 'https://instagram.com/thetbar/', :target => "_blank" %>
          <%= link_to image_tag(getS3GeneralUrl('tumblr-icon.png')), 'http://teamtbar.tumblr.com', :target => "_blank" %>
          <%= link_to image_tag(getS3GeneralUrl('pinterest-icon.png')), 'https://www.pinterest.com/tqween/', :target => "_blank" %>
        </div>
      </div>
    </header>
  <% end %>
      
    <main controller-type='<%= params[:controller] %>'>
      <%= flash_messages unless params[:action] == 'concierge_page'%>
      <%= yield %>
    </main>

  <% cache('footer') do %>
    <footer>
      <p>
        <a href='/about'>About us</a>
        <a href='/ourstory'>Our story</a>
        <a href='/sizing'>Fit guide</a>
        <a href='/returns_and_exchanges'>Hassle-free returns &amp; exchanges</a>
        <!-- <a href=''>Subscriptions</a>
        <a href=''>The Panty Press</a> -->
        <a href='/contact-us'>Contact us</a>
      </p>
      <p>
        <span class="copyright-text" id="copyright">Copyright 2015 The T Bar</span>
        <a href='/privacy_policy'>Privacy policy</a>
        <a href='/terms_of_use'>Terms of use</a>
      </p>
    </footer>
  <% end %>
  
  <div id='panic-overlay'></div>
  
  </body>
  <script type="text/javascript">
    if (readCookie('logged_in') == 'true') {
      $("#login-logout-links").html('<li><a href="/account">My Account</a></li><li><a href="/logout">Logout</a></li>');
    } else {
      $("#login-logout-links").html('<li><a href="/login">Have an account? <span>Sign in</span></a><%= link_to image_tag("user-icon.png")%></li>');
    }
  </script>

</html>
