<!--  probably still need to add the form tag to the parent partial -->
<!-- also need to add the javascript to send the package to the orders controller -->

<div class="row" id="inside-product-cart-form" data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="https://schema.org/Offer">
  <% if @product.has_variants? %>
    <div id="product-variants-<%= index %>">
      <% v_index = 0 %>
      <% @product.grouped_option_values.each do |type, values| %>
        <div id="<%= dom_id(type) %>" class="variant-options index-<%= v_index %>">
          <h6 class="variant-option-type">
            <%= label_tag 'option-value-name', Spree.t(:select_a, :index => v_index + 1, :name => type.presentation) %>&nbsp;
            <strong class='selection'></strong>
            <%= link_to "", "#clear", :class => "icon-remove clear-button clear-index-#{v_index}" %>
          </h6>

          <ul class="variant-option-values list-inline">
            <% values.sort_by(&:position).each do |value| %>
              <% classes = ["option-value"] %>
              <% unless (variants = @product.variants_for_option_value(value)).empty? %>
                <% classes << ( variants.any? { |v| v.in_stock? } ? "in-stock" : "out-of-stock" ) if v_index == 0 %>
                <% classes << 'with-image' if value.has_image? %>
                <% id = type.isSizeOptionType? ? value.name.downcase.gsub(/ /,"-") : "#{@product.product_size_type_name_string}-#{value.name.downcase}" %>
                <li><%= link_to value.has_image? ? image_tag(value.image.url, :alt => value.presentation) : content_tag(:span, value.presentation), "#", :title => value.presentation, :class => classes.join(" "), :id => "#{index}-#{id}" ,:rel => "#{type.id}-#{value.id}" %></li>
              <% end %>
            <% end %>
            <li class="clear"></li>
          </ul>
        </div>
        <% v_index += 1 %>
      <% end %>

      <%= hidden_field_tag "products[#{@product.id}]", "", :id => "product_#{index}", :class => "hidden" %>
      <%= hidden_field_tag "variant_id_#{index}", "", :class => "hidden" %>
      <% if @pre_selected_sizes.count > 0 %>
        <%= hidden_field_tag "quantity_#{index}", "1", :class => "hidden" %>
      <% else %>
        <div class="input-group">
          Quantity: <%= number_field_tag "quantity_#{index}", 1, :class => 'title form-control', :min => 1 %>
        </div>
      <% end %>


      <script type="text/javascript">
        //<![CDATA[
        var variant_options = new PackageVariantOptions({
          options: <%== @product.variant_options_hash.to_json -%>,
          track_inventory_levels: <%==  !!Spree::Config[:track_inventory_levels] -%>,
          allow_select_outofstock: <%== !!SpreeVariantOptions::VariantConfig[:allow_select_outofstock] -%>,
          default_instock: <%== !!SpreeVariantOptions::VariantConfig[:default_instock] -%>,
          i18n: <%== {:out_of_stock => Spree.t(:out_of_stock), :variant_options_select => Spree.t(:variant_options_select) }.to_json -%>,
          item_number: <%== index %>,
          number_of_items_in_package: <%= @products.count %>
        });
        $(function() {
          url = $.urlParam('<%=SpreeVariantOptions::VariantConfig.main_option_type_label%>')
          $("[title="+ url +"]").click();
        });
        //]]>
      </script>
    </div>
  <% end%>
</div>