<div class="col-md-3 col-sm-6 babes-list-taxon" data-hook="taxon-<%=package_counter%>">
  <div class='photo'>
    <%= link_to(image_tag(package.icon(:display)), show_package_path(package,babe_id: @babe.id)) unless package.icon_file_name.nil? %>
  </div>
  <p><%= package.package_brand %></p>
  <p class="subtaxon-title"><%= link_to package.name, show_package_path(package,babe_id: @babe.id), class: 'breadcrumbs' %></p>
  <p>$<%= package.package_price %></p>
  <% if !package.babes_variants_for_taxons_products.nil? %>
    <div id="cart-form" data-hook="cart_form">
      <%= form_for :order, :url => populate_from_package_path do |f| %>
        <span class="input-group-btn">
                <%= button_tag :class => 'btn btn-success', :id => 'add-to-cart-button', :type => :submit do %>
                  <%= Spree.t(:add_to_cart) %>
                <% end %>
        </span>
        <%= hidden_field_tag "babe_id", @babe.id %>
        <%= hidden_field_tag "product_count", package.products.count %>
        <% package.babes_variants_for_taxons_products.each.with_index do |variant_id,index| %>
          <%= hidden_field_tag "variant_id_#{index}", variant_id %>
          <%= hidden_field_tag "quantity_#{index}", 1 %>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <%= button_to "Choose Options", show_package_path(package,babe_id: @babe.id), :method => "get", :class => 'btn btn-success', :id => 'choose-options-button' %>
  <% end %>
</div>