<section id="babes-list-main">
  <h1 class="byb-results-title"> This is what we heard about <%= @babe.name == '' ? 'your babe' : @babe.name  %>:</h1>
    <h2 class="byb-results-description"> <%= @babe.personality_statement %><br>
  <%= @babe.bra_size %> Top, with <%= @babe.bottoms %> Bottoms</h2>
  <h3 class="taxon-title">Our personalized selection for <%= @babe.name == '' ? 'Your Lady' : @babe.name  %></h3>

  <!-- babe_id = <%= @babe.id %> -->
  <div data-hook="the_goods_list">
    <%= render partial: 'package', collection: @taxons%>
  </div>
  <% if @taxons.count == 4 && @total_matches > 4 %>
    <%= link_to "See More Selections", my_babes_package_list_path(@babe,"see_more_selections" => "1"), :class => "ui-button", :id => 'see-more-selections' %>
  <% end %>
</section>
