<h1>Your Babes</h1>
<hr>
<% @babes.each do |babe| %>
  <p></p>
        <h3><strong><%= babe.display_name_babe.upcase %></strong></h3>
        <div class="babe-controls">
          &nbsp;&nbsp;<%= babe.bra_size %> <%=babe.bottoms%>.&nbsp;&nbsp;<%= babe.personality_statment_with_brevity %><span style="padding-left: 20px;"><%= link_to 'Show Me Her Goods', my_babes_package_list_path(babe), class: 'babe-link' %></span>
          <!-- <span><%= link_to 'Edit', edit_babe_path(babe) %></span> -->|
          <span><%= link_to 'Delete', babe, method: :delete, data: { confirm: 'Are you sure?' }, class: 'babe-link' %></span>
        </div><p></p>
<hr>
<% end %>
<p>&nbsp;</p>
<p>&nbsp;</p>
<%= link_to "Add A New Babe", new_babe_path, :class => "btn btn-success", :id => 'build-a-new-babe' %>