<% cache('newbabe-header') do %>
  <script>
  var presets = {
    small: {
      cup: { value: 'B', range: [ 'A', 'B', 'C', 'D', 'DD', 'F' ] },
      band: { value: '32', range: [ '30', '32', '34' ] },
      bottoms: { value: 'S', range: [ 'XS', 'S', 'M' ] }
    },
    medium: {
      cup: { value: 'C', range: [ 'A', 'B', 'C', 'D', 'DD', 'F' ] },
      band: { value: '34', range: [ '32', '34', '36' ] },
      bottoms: { value: 'M', range: [ 'S', 'M', 'L' ] }
    },
    large: {
      cup: { value: 'D', range: [ 'A', 'B', 'C', 'D', 'DD', 'F' ] },
      band: { value: '36', range: [ '34', '36', '38' ] },
      bottoms: { value: 'L', range: [ 'M', 'L', 'XL' ] }
    }
  }
  
  $(document).on('ready', function() {
    
    $('#body-type input').on('click', function() {
      var preset = presets[$(this).val()];
      [ 'cup', 'band', 'bottoms' ].forEach(function (piece) {
        var select = $('#babe_' + piece);
        var options = select.children();
        var container = $('#' + piece);
        var sizes = container.find('[data-size]');
        select.val(preset[piece].value).trigger('change');
        sizes.addClass('disabled');
        options.attr('disabled', true);
        preset[piece].range.forEach(function(size) {
          sizes.filter('[data-size=' + size + ']').removeClass('disabled');
          options.filter('[value=' + size + ']').removeAttr('disabled')
        });
      });
    });
    
    $('#new_babe select').on('change', function() {
      var select = $(this)
      var part = select.attr('id').replace('babe_', '');
      var path = '/babeparts/' + part + '-' + select.val().toLowerCase() + '.png';
      $('#body-' + part).css('background-image', 'url(' + path + ')');
      select.siblings('span').text(select.val());
      select.siblings('a').removeClass('selected');
      select.siblings('a:not(.disabled)').filter(function() {
        return $(this).text() == select.val();
      }).addClass('selected');
      
    });
    
    $('#personality select').on('change', function() {
      var select = $(this);
      select.siblings('a').removeClass('selected');
      select.siblings('a[data-value=' + select.val() + ']').addClass('selected');
    });
    
    $('#new_babe a:not(.previous, .next)').on('click', function(event) {
      event.preventDefault();
      var link = $(this);
      var value = link.data('value') || link.text();
      if (link.hasClass('disabled')) {
        return;
      }
      link.siblings('select').val(value).trigger('change');
    });
    
    $('#new_babe a.previous, #new_babe a.next').on('click', function(event) {
      event.preventDefault();
      var link = $(this);
      var select = link.siblings('select');
      var option = select.children('[value=' + select.val() + ']');
      if (link.hasClass('previous') && option.prev().is(':not([disabled])') && option.is(':not(:first-child)')) {
        select.val(option.prev().val()).trigger('change');
      }
      else if (link.hasClass('next') && option.next().is(':not([disabled])') && option.is(':not(:last-child)')) {
        select.val(option.next().val()).trigger('change');
      }
    });
    
    $('#new_babe select').trigger('change');
    $('#babe_body_type_medium').trigger('click');

  });
  
</script>
<% end %>
<h1>Build your babe</h1>

<%= form_for @babe do |form| %>
  <% cache('newbabe') do %>
  <section id='sizing'>

    <h2>Let's start with sizing</h2>
    <p>Choose a body size to set standard proportions or modify the details to get a customized fit</p>
  
    <h3>Body size</h3>
  
    <fieldset id='body-type'>
      <%= form.radio_button :body_type, :small %>
      <%= form.label :body_type_small, "S" %>
      <%= form.radio_button :body_type, :medium, checked: true %>
      <%= form.label :body_type_medium, "M" %>
      <%= form.radio_button :body_type, :large %>
      <%= form.label :body_type_large, "L" %>
    </fieldset>
  
    <div id='babe-container'>
    
      <fieldset id='cup'>
        <%= form.label :cup, "Bust" %>
        <%= form.select :cup, Spree::Babe::CUP_SIZES, selected: 'C' %>
        <span>C</span>
        <%= link_to "&#x25BC;".html_safe, nil, class: 'previous' %>
        <% Spree::Babe::CUP_SIZES.reverse.each_with_index do |size, index| %>
          <%= link_to size, nil, class: "size size-#{ index + 1 }", data: { size: size } %>
        <% end %>
        <%= link_to "&#x25B2;".html_safe, nil, class: 'next' %>
      </fieldset>
  
      <fieldset id='band'>
        <%= form.label :band, "Band" %>
        <%= form.select :band, Spree::Babe::BAND_SIZES, selected: '34' %>
        <span>34</span>
        <%= link_to "&#x25BC;".html_safe, nil, class: 'previous' %>
        <% Spree::Babe::BAND_SIZES.reverse.each_with_index do |size, index| %>
          <%= link_to size, nil, class: "size size-#{ index + 1 }", data: { size: size } %>
        <% end %>
        <%= link_to "&#x25B2;".html_safe, nil, class: 'next' %>
      </fieldset>
  
      <fieldset id='bottoms'>
        <%= form.label :bottoms, "Bottom" %>
        <%= form.select :bottoms, Spree::Babe::BOTTOMS_SIZES, selected: 'M' %>
        <span>M</span>
        <%= link_to "&#x25BC;".html_safe, nil, class: 'previous' %>
        <% Spree::Babe::BOTTOMS_SIZES.reverse.each_with_index do |size, index| %>
          <%= link_to size, nil, class: "size size-#{ index + 1 }", data: { size: size } %>
        <% end %>
        <%= link_to "&#x25B2;".html_safe, nil, class: 'next' %>
      </fieldset>
  
      <div id='babe-body'>
        <div id='body-head'></div>
        <div id='body-band'></div>
        <div id='body-cup'></div>
        <div id='body-bottoms'></div>
      </div>
  
      <fieldset id='name'>
        <%= form.label :name, "Name" %>
        <%= form.text_field :name, placeholder: "Name Your Babe" %>
      </fieldset>
      
      <div class='line' id='line-1'></div>
      <div class='line' id='line-2'></div>
      <div class='line' id='line-3'></div>
      <div class='line' id='line-4'></div>
      <div class='line' id='line-5'></div>
      <div class='line' id='line-6'></div>
      <div class='line' id='line-7'></div>
      <div class='line' id='line-8'></div>
      <div class='line' id='line-9'></div>
      <div class='line' id='line-10'></div>
      <div class='line' id='line-11'></div>

    </div>
  
  </section>
  
  <section id='personality'>
  
    <h2>Now let's talk personality</h2>

    <%= hidden_field_tag(:number_of_active_traits, @active_traits.size) %>
    <% @active_traits.each_with_index do |trait, index| %>
      <% trait_values = Spree::BabeTraitValue.joins(:spree_babe_trait_type).where(spree_babe_trait_types: { name: trait.name }).all %>
      <fieldset>
        <%= form.label "babe_trait_#{ index + 1 }", trait.question_verbiage %>
        <%= select_tag "babe_trait_#{ index + 1 }", options_from_collection_for_select(trait_values, :id, :name) %>
        <h3><%= trait.question_verbiage %></h3>
        <% for trait_value in trait_values do %>
          <%= link_to trait_value.name, nil, data: { value: trait_value.id }, style: "background: url(https://s3-us-west-2.amazonaws.com/tbar-personality-traits/images/#{trait.name.downcase.gsub(/ /,'-')}/TBAR_#{trait_value.name.gsub(/ /,'').gsub(/\'/,'')}.png)" %>
        <% end %>
      </fieldset>
    <% end %>
  
  </section>
  <% end %>
  <section id='finish'>
    <% if !spree_current_user %>
      <div class="collect-email-on-new-babe">
        Enter your email to be notified of specials that apply to your babe<p></p>
        <div class="email-input"><%= form.text_field :guest_email, placeholder: 'Email' %></div>
      </div>
      <p></p>
    <% end %>
    <%= form.submit "Show me the goods!", class: 'show-me-the-goods' %>
  </section>
  
<% end %>

<script type="text/javascript">


  images = ['bottoms-xs.png','bottoms-s.png','bottoms-m.png','bottoms-l.png','bottoms-xl.png','band-30.png','band-32.png','band-34.png','band-36.png','band-38.png','cup-a.png','cup-b.png','cup-c.png','cup-d.png','cup-dd.png','cup-f.png'];
  for (var i = 0; i < images.length; ++i) {
    var img = new Image();
    img.src = '/babeparts/'+images[i];
  }

</script>
