<section id="statement">
  <div class="home-statement" >
    <!--<q>Finding the right lingerie shouldn't be as hard as it was finding the right woman to wear it</q>&nbsp;&nbsp;<cite class="thetqueen">@TheTQween</cite>-->
    The T*Bar takes the guesswork out and helps you nail it!
  </div>
</section>
<section id='introduction'>
  <!--<div class="small-print">The T*Bar takes the guesswork out and helps you nail it!</div>-->
  <!--<a class="home-page-byb-link" href='/build_your_babe'>Let's build your babe<span>&rarr;</span></a>-->
</section>
<section id="tiles">
  <article class="box">
    <div class="innerContent novice">
      <h2>First Timer</h2>
      <p>Use our <%= link_to "BUILD YOUR BABE", new_babe_path %>&trade; tool to nail it with size and style for your special someone. It's Simple!<br>Here's how....</p>
      <div class="instruction-list">
        <div id="tell-us-about-her" class="instruction">1: Tell Us About Her</div>
        <div id="choose-lingerie" class="instruction">2: Select Items</div>
        <div id="have-some-fun" class="instruction">3: Have some fun!</div>
      </div>
      <div style="width: 100%;text-align: center;padding-top: 2rem;"><%= link_to "LETS BUILD YOUR BABE", new_babe_path, :class => "btn btn-success", :id => 'see-more-selections' %></div>
    </div>
  </article>
  <article class="box">
    <div class="innerContent experienced">
      <h2>I got this, let me shop</h2>
      <div style="width: 100%;text-align: center;padding-top: 2rem;"><%= link_to "THEMED COLLECTIONS", '/t/themes', :class => "btn btn-success btn-experienced-shopper", :id => 'see-more-selections' %></div>
      <div style="width: 100%;text-align: center;padding-top: 2rem;"><%= link_to "CURRENT CATALOGUE", products_path, :class => "btn btn-success btn-experienced-shopper", :id => 'see-more-selections' %></div>
      <div style="width: 100%;text-align: center;padding-top: 2rem;"><%= link_to "GIFT IDEAS", '/t/giftideas', :class => "btn btn-success btn-experienced-shopper", :id => 'see-more-selections' %></div>
    </div>
  </article>
  <article class="box">
    <div class="innerContent lady">
      <h2>Wishlist</h2>
      <h4>(for the ladies)</h4>
      <p>Think your boy will blow it? Dont worry, we're here to help with our wishlist feature.</p>
      <div style="width: 100%;text-align: center;padding-top: 2rem;"><%= link_to "HOW IT WORKS", how_the_wishlist_works_path, :class => "btn btn-success", :id => 'see-more-selections' %></div>
    </div>
  </article>

</section>

<div id="dialog-step1" style="width: auto; padding: 0px;" hidden="hidden">
  <section id='explanation' class="dialog-explanation" style="padding: 1rem">
    <div class="dialog-title" style="color: white">TELL US ABOUT HER</div>
    <div id='step-1' class="how-it-works-dialog">
      <p>Use our Build Your Babe to dial in her size and tell us about her personality. Then we'll work our magic.</p>
    </div>
  </section>
</div>
<div id="dialog-step2" style="width: auto; padding: 0px;" hidden="hidden">
  <section id='explanation' class="dialog-explanation" style="padding: 1rem">
    <div class="dialog-title" style="color: white">SELECTION TIME</div>
    <div id='step-2' class="how-it-works-dialog">
      <p>Select your favorites from our curated list for your babe.</p>
    </div>
  </section>
</div>
<div id="dialog-step3" style="width: auto; padding: 0px;" hidden="hidden">
  <section id='explanation' class="dialog-explanation" style="padding: 1rem">
    <div class="dialog-title" style="color: white">HAVE SOME FUN!</div>
    <div id='step-3' class="how-it-works-dialog">
      <p>Do we really need to provide you instructions on what to do here? We're confident that our process will help you nail it!</p>
    </div>
  </section>
</div>
<script>
  function openitup(id) {
    $(function() {
      $( "#"+id ).dialog();
    })
  }

  function closeitdown(id) {
    $(function() {
      $( "#"+id ).dialog('close');
    })
  }

  $("#tell-us-about-her").mouseenter(function() {
    openitup('dialog-step1');
  }).mouseleave(function() {
    // include to clear on mouse out - $("#SpanToTypeIn").typed('reset');
    closeitdown('dialog-step1');
  })

  $("#choose-lingerie").mouseenter(function() {
    openitup('dialog-step2');
  }).mouseleave(function() {
    // include to clear on mouse out - $("#SpanToTypeIn").typed('reset');
    closeitdown('dialog-step2');
  })

  $("#have-some-fun").mouseenter(function() {
    openitup('dialog-step3');
  }).mouseleave(function() {
    // include to clear on mouse out - $("#SpanToTypeIn").typed('reset');
    closeitdown('dialog-step3');
  })
</script>
<section id="instagram">
  <h2 style="padding-bottom: 3rem;color: black;text-transform: none; ">@TheTBar Social</h2>
  <iframe src="http://snapwidget.com/p/widget/?id=DyU6IVL6ja&t=720" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no"></iframe>
</section>
<section id='testimonials'>
  <h1>Monthly Musings</h1>
  <article class="full">
    <div class="testimonial-description">Our favorite letter this month was from customer who took issue with our description of the MARLIES DEKKERS <a href="/products/gloria-padded-plunge-bra" class="testimonial-link">Gloria Pinstripe Padded Plunge Bra</a>.<p></p>
    <q class="testimonial-quote">I have to quibble, just a bit, though – This set reminds me so much more of a grown up Kentucky straight bourbon, aged well, evolved from the workaday bluster, but not completely. I was struck by how its low panty lines would work well under a pantsuit, but it also has a seductive allure that is all fun and weekend.<p></p>Either way, hope it is going well all around, and I am forever a fan of the T-Bar.</q>
    <p></p><div style="text-align: center"><cite>anonymous</cite> (unless given permission we will never post a customers name)</div>
    </div>
    <div class="testimonial-image"><%= image_tag 'https://tbar-products.s3.amazonaws.com/spree/images/27/product2/18150_3_lb_f_zoom.jpg', :itemprop => "image" %></div>
  </article>
</section>

<section id='press'>
  <h1>The T<%= image_tag(getS3GeneralUrl('star-separator-teal-thin.png'), class: 'tbar-star')%>Bar in the press</h1>
  <p>&nbsp;</p>
  <a href='http://www.themanual.com/living/sexiest-valentines-day-lingerie-brands/' target=_blank><%= image_tag(getS3GeneralUrl('TheManual.png')) %></a>
  <a href='http://www.5280.com/fashionandbeauty/digital/2015/10/whats-happening-local-fashion-october' target=_blank><%= image_tag(getS3GeneralUrl('5280logosmall.jpg')) %></a>
  <a href='http://www.urbandaddy.com/ntl/weekender/36100/The_Weekender_Watches_Lingerie_and_a_Tacopedia_National_NTL' target=_blank><%= image_tag(getS3GeneralUrl('urbandaddy.png')) %></a>
  <a href='http://www.dailycamera.com/lifestyles/ci_29014571/boulder-online-store-thetbar-com-offers-lingerie-that-fits-owner-debby-caplin' target=_blank><%= image_tag(getS3GeneralUrl('daily-camera-logo-fitted.png')) %></a>
</section>
<% if Rails.env.production? %>
  <script>
    (function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g);
      t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);
    })(window, document, '_gscq','script','//widgets.getsitecontrol.com/27658/script.js');
  </script>
<% end %>