<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />

<section id="holiday">
  <h1 style="padding-bottom: 3rem;color: black;text-transform: none;">The Holidays!</h1>
  <div class="container-fluid">
    <div class="col-xs-12 col-sm-12 col-md-6">
      <article class="blog">
        <div class="blog-image-block gift-ideas-header">
          <a href="/t/giftideas" target="_blank">
            <img class="blog-image" src="<%=getS3GeneralUrl('gift_ideas_image.png')%>" /></a>
        </div>
      </article>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
      <article class="blog">
        <div class="blog-image-block shwag-header">
          <a href="/t/schwag" target="_blank">
            <img class="blog-image" src="<%=getS3GeneralUrl('schwag_image.png')%>" /></a>
        </div>
      </article>
    </div>
  </div>
</section>

<section id="statement" class="use-star">
  <div class="home-statement" >
    <!--<q>Finding the right lingerie shouldn't be as hard as it was finding the right woman to wear it</q>&nbsp;&nbsp;<cite class="thetqueen">@TheTQween</cite>-->
    The T*Bar takes the guesswork out of buying lingerie for her and helps you nail it!
  </div>
</section>
<section id='introduction'>
  <!--<div class="small-print">The T*Bar takes the guesswork out of buying lingerie for her and helps you nail it!</div>-->
  <!--<a class="home-page-byb-link" href='/build_your_babe'>Let's build your babe<span>&rarr;</span></a>-->
</section>
<section id="tiles" class="use-star">
  <div class="container-fluid">
    <div class="col-xs-12 col-sm-12 col-md-4">
      <article class="box">
        <div class="innerContent novice">
          <h2>First Timer</h2>
          <h4>(show me)</h4>
          <p>Use our <%= link_to "BUILD YOUR BABE", new_babe_path %>&trade; tool to nail it with size and style for your special someone. It's Simple!<br>Here's how....</p>
          <div class="instruction-list">
            <div id="tell-us-about-her" class="instruction">1: Tell Us About Her</div>
            <div id="choose-lingerie" class="instruction">2: Select Items</div>
            <div id="have-some-fun" class="instruction">3: Have some fun!</div>
          </div>
          <div class="button-container">
            <div class="single-button"><%= link_to "LETS BUILD YOUR BABE", new_babe_path, :class => "btn btn-success", :id => 'lets-build-your-babe' %></div>
          </div>
        </div>
      </article>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
      <article class="box">
        <div class="innerContent experienced">
          <h2>I got this</h2>
          <h4>(let me shop)</h4>
          <p>Don't need our help? No problem! Go straight to one of our collections.</p>
          <div style="height: 25px;"></div>
          <div class="button-container">
            <div class="single-button"><%= link_to "THEMED COLLECTIONS", '/t/themes', :class => "btn btn-success btn-experienced-shopper", :id => 'see-themed-collections' %></div>
            <div class="single-button"><%= link_to "CURRENT CATALOGUE", products_path, :class => "btn btn-success btn-experienced-shopper", :id => 'see-current-catalog' %></div>
            <div class="single-button"><%= link_to "GIFT IDEAS", '/t/giftideas', :class => "btn btn-success btn-experienced-shopper", :id => 'see-gift-ideas' %></div>
          </div>
        </div>
      </article>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
      <article class="box">
        <div class="innerContent lady">
          <h2>Wishlist</h2>
          <h4>(for the ladies)</h4>
          <p>Think your boy will blow it? Don't worry, we're here to help with our wishlist feature.</p>
          <div style="height: 120px;"></div>
          <div class="button-container">
            <div class="single-button"><%= link_to "HOW IT WORKS", how_the_wishlist_works_path, :class => "btn btn-success btn-experienced-shopper", :id => 'see-wishlist-works' %></div>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>

<div id="dialog-step1" style="width: auto; padding: 0px;" hidden="hidden">
  <section id='explanation' class="dialog-explanation" style="padding: 1rem">
    <div class="dialog-title" style="color: white">TELL US ABOUT HER</div>
    <div id='step-1' class="how-it-works-dialog">
      <p>Use our Build Your Babe to dial in her size and tell us about her personality. Then we'll work our magic.</p>
    </div>
  </section>
</div>
<div id="dialog-step2" style="width: auto; padding: 0px;" hidden="hidden">
  <section id='explanation' class="dialog-explanation" style="padding: 1rem">
    <div class="dialog-title" style="color: white">SELECT ITEMS</div>
    <div id='step-2' class="how-it-works-dialog">
      <p>Select your favorites from our curated list for your babe.</p>
    </div>
  </section>
</div>
<div id="dialog-step3" style="width: auto; padding: 0px;" hidden="hidden">
  <section id='explanation' class="dialog-explanation" style="padding: 1rem">
    <div class="dialog-title" style="color: white">HAVE SOME FUN!</div>
    <div id='step-3' class="how-it-works-dialog">
      <p>Do we really need to provide you instructions on what to do here? We're confident that our process will help you nail it!</p>
    </div>
  </section>
</div>

<div id="dialog-themed-collection" style="width: auto; padding: 0px;" hidden="hidden">
  <section class="dialog-explanation info" style="padding: 1rem">
    <div class="dialog-title" style="color: white">Themed Collections</div>
    <div id='themed-collection-text' class="how-it-works-dialog">
      <p>Looking for some inspiration? Our themed shops will help you narrow the choices and set the mood.</p>
    </div>
  </section>
</div>
<div id="dialog-current-catalog" style="width: auto; padding: 0px;" hidden="hidden">
  <section  class="dialog-explanation info" style="padding: 1rem">
    <div class="dialog-title" style="color: white">Current Catalog</div>
    <div id='current-catalog-text' class="how-it-works-dialog">
      <p>Peruse our full catalog, carefully selected by the TQween for class, style, and taste. There's something here for everyone.</p>
    </div>
  </section>
</div>

<script>
  function openitup(id) {
    $(function() {
      $( "#"+id ).dialog();
    })
  }

  function closeitdown(id) {
    $(function() {
      $( "#"+id ).dialog('close');
    })
  }

  $("#tell-us-about-her").mouseenter(function() {
    openitup('dialog-step1');
  }).mouseleave(function() {
    // include to clear on mouse out - $("#SpanToTypeIn").typed('reset');
    closeitdown('dialog-step1');
  })

  $("#choose-lingerie").mouseenter(function() {
    openitup('dialog-step2');
  }).mouseleave(function() {
    // include to clear on mouse out - $("#SpanToTypeIn").typed('reset');
    closeitdown('dialog-step2');
  })

  $("#have-some-fun").mouseenter(function() {
    openitup('dialog-step3');
  }).mouseleave(function() {
    // include to clear on mouse out - $("#SpanToTypeIn").typed('reset');
    closeitdown('dialog-step3');
  })

  $("#xsee-themed-collections").mouseenter(function() {
    openitup('dialog-themed-collection');
  }).mouseleave(function() {
    // include to clear on mouse out - $("#SpanToTypeIn").typed('reset');
    closeitdown('dialog-themed-collection');
  })

  $("#xsee-current-catalog").mouseenter(function() {
    openitup('dialog-current-catalog');
  }).mouseleave(function() {
    // include to clear on mouse out - $("#SpanToTypeIn").typed('reset');
    closeitdown('dialog-current-catalog');
  })
</script>
<section id="instagram" class="use-star">
  <h2 style="padding-bottom: 3rem;color: black;text-transform: none; ">@TheTBar Social</h2>
  <iframe src="https://snapwidget.com/p/widget/?id=DyU6IVL6ja&t=785" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no"></iframe>
</section>
<section id="blogs" class="use-star">
  <h1 style="padding-bottom: 3rem;color: black;text-transform: none; ">blog.thetbar.com</h1>
  <div class="container-fluid">
    <div class="col-xs-12 col-sm-12 col-md-4">
      <article class="blog">
        <div style="height: 85px;"><h3>Our Own CTO Weighs In On Why Lingerie Matters</h3></div>
          <div class="blog-image-block">
            <a href="http://blog.thetbar.com/2015/11/04/our-own-cto-adam-weighs-in-on-why-lingerie-matters/" target="_blank">
              <img class="blog-image" src="<%=getS3GeneralUrl('cto_blog_square.png')%>"/></a>
          </div>
        <p></p>
        <div class="blog-text">SEX! YES SEX!!! Let&#8217;s get it right on the table. Lingerie is made for celebrating sexuality, accenting the lines of a woman that define her edges and curves. And while it is objectification at some level, a framed work of art so to speak, is that really always a bad thing? While someone&#8217;s captivating personality may be the hook to lure you in, the body is frequently...</div>
        <div><a href="http://blog.thetbar.com/2015/11/04/our-own-cto-adam-weighs-in-on-why-lingerie-matters/" target="_blank">Read More.....</a></div>
        <div>Adam aka Mr. T</div>
        <div>#lingeriematters</div>
      </article>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
      <article class="blog">
        <div style="height: 85px;"><h3>Lighten Up Francis, It's Just Lingerie</h3></div>
        <div class="blog-image-block">
          <a href="http://blog.thetbar.com/2015/10/29/lighten-up-francis-its-just-lingerie/" target="_blank">
            <img class="blog-image" src="<%=getS3GeneralUrl('lighten_up_for_blog_square.png')%>" /></a>
        </div>
        <p></p>
        <div class="blog-text">Why do people get their panties in a wad at the topic of lingerie? I had issues with our signage at the old store due to the fact that the women were in bras. Mind you, they were also more covered than most people on a beach or in the local climbing gym, for that matter. Facebook recently started rejecting our ads due to suggestive content/nudity. Again, more...</div>
        <div><a href="http://blog.thetbar.com/2015/11/04/our-own-cto-adam-weighs-in-on-why-lingerie-matters/" target="_blank">Read More.....</a></div>
        <div>Debby aka The TQween</div>
        <div>#lingeriematters</div>
      </article>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4">
      <article class="blog">
        <div style="height: 85px;"><h3>I Love Men! <br>No, Really..</h3></div>
        <div class="blog-image-block">
          <a href="http://blog.thetbar.com/2014/07/15/i-love-men-no-really/" target="_blank">
            <img class="blog-image" src="<%=getS3GeneralUrl('i_love_men_square.png')%>"  /></a>
        </div>
        <p></p>
        <div class="blog-text">As long as I can remember, I have been surrounded by men.

          Growing up, I spent my weekends fishing or riding dirt bikes with my Dad and my brother. Every Summer at camp, I would hang out on the steps of the boys’ bunks each afternoon because my closest allies were there, not on the girls’ hill. Later, in college, I would find myself surrounded by the brothers...</div>
        <div><a href="http://blog.thetbar.com/2014/07/15/i-love-men-no-really/" target="_blank">Read More.....</a></div>
        <div>Debby aka The TQween</div>
        <div>#lingeriematters</div>
      </article>
    </div>
  </div>
</section>
<section id='testimonials' class="use-star">
  <h1>Monthly Musings</h1>
  <article class="full">
    <div class="testimonial-description">Our favorite letter this month was from customer who took issue with our description of the MARLIES DEKKERS <a href="/products/gloria-padded-plunge-bra" class="testimonial-link">Gloria Pinstripe Padded Plunge Bra</a>.<p></p>
    <q class="testimonial-quote">I have to quibble, just a bit, though – This set reminds me so much more of a grown up Kentucky straight bourbon, aged well, evolved from the workday bluster, but not completely. I was struck by how its low panty lines would work well under a pantsuit, but it also has a seductive allure that is all fun and weekend.<p></p>Either way, hope it is going well all around, and I am forever a fan of the T-Bar.</q>
    <p></p><div style="text-align: center"><cite>-KB</cite></div>
    </div>
    <div class="testimonial-image"><%= image_tag 'https://tbar-products.s3.amazonaws.com/spree/images/27/product2/18150_3_lb_f_zoom.jpg', :itemprop => "image" %></div>
  </article>
</section>

<section id='press' class="use-star">
  <h1>The T<%= image_tag(getS3GeneralUrl('star-separator-teal-thin.png'), class: 'tbar-star')%>Bar in the press</h1>
  <p>&nbsp;</p>
  <a href='http://www.themanual.com/living/sexiest-valentines-day-lingerie-brands/' target=_blank><%= image_tag(getS3GeneralUrl('TheManual.png'),:class => 'press-image') %></a>
  <a href='http://www.5280.com/fashionandbeauty/digital/2015/10/whats-happening-local-fashion-october' target=_blank><%= image_tag(getS3GeneralUrl('5280logosmall.jpg'),:class => 'press-image') %></a>
  <a href='http://www.urbandaddy.com/ntl/weekender/36100/The_Weekender_Watches_Lingerie_and_a_Tacopedia_National_NTL' target=_blank><%= image_tag(getS3GeneralUrl('urbandaddy.png'),:class => 'press-image') %></a>
  <a href='http://www.dailycamera.com/lifestyles/ci_29014571/boulder-online-store-thetbar-com-offers-lingerie-that-fits-owner-debby-caplin' target=_blank><%= image_tag(getS3GeneralUrl('daily-camera-logo-fitted.png'),:class => 'press-image') %></a>
</section>
<% if Rails.env.production? %>
  <script>
    (function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g);
      t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);
    })(window, document, '_gscq','script','//widgets.getsitecontrol.com/27658/script.js');
  </script>
<% end %>