<div class="inner">

  <h1>OUR STORY</h1>
        <p style="text-align: left;">TheTBar.com was birthed from The T*Bar lingerie boutique in Boulder Colorado, that I founded in 2008. The T*Bar was a labor of love, paying tribute to the incredible strong and independent women that paved the way out West, long before I moved across the country from Miami and made Boulder home. The name was derived from a street term for &#8220;thong&#8221; and because of the Western imagery it evokes.</p>
        <p>It was also very much my intention to shake things up and make men feel comfortable in this traditionally frilly land of uneasiness, not only by making it fun to come in and hang out a while, but ultimately, taking the fear out of all the little, sexy, silky things surrounding them.</p>
        <p>We were pretty popular, too! Along the way, our accolades included notable industry awards:</p>
        <ul>
          <li>Shop Scouting Worldwide: Featured for new and unusual branding in the international lingerie industry.</li>
          <li>Best of Intima Awards: International recognition of new concept and/or brand.</li>
          <li>Lingerie Buyer UK Magazine: Winner &#8211; Top 5 U.S.Lingerie Independent Stores.</li>
        </ul>
        <p>After years of observing the challenges of men just wanting to do something nice (and hot) for the women in their lives – buying lingerie – it occurred to me that there was a way to ease the angst and help men do this in a painless way beyond the physical store. By taking our lessons learned in store, <em>men are visual shoppers</em>, and translating them online, now many men can saddle up to their computers and enjoy the same experience.</p>

        <style type='text/css'>
          #gallery-1 {
            margin: auto;
          }
          #gallery-1 .gallery-item {
            float: left;
            margin-top: 10px;
            text-align: center;
            width: 33%;
          }
          #gallery-1 img {
            border: 2px solid #cfcfcf;
          }
          #gallery-1 .gallery-caption {
            margin-left: 0;
          }
          /* see gallery_shortcode() in wp-includes/media.php */
        </style>
        <div id='gallery-1' class='gallery galleryid-293 gallery-columns-3 gallery-size-thumbnail'><dl class='gallery-item'>
          <dt class='gallery-icon landscape'>
            <%= image_tag "tbar_store.jpg", width: 300, height: 200, alt: 'tbar-store' %>
          </dt></dl><dl class='gallery-item'>
          <dt class='gallery-icon landscape'>
            <%= image_tag "tbarbrick.jpg", width: 300, height: 168, alt: 'tbar-bricks' %>
          </dt></dl><dl class='gallery-item'>
          <dt class='gallery-icon portrait'>
            <%= image_tag "tbar-angela-walking-stairs.jpg", width: 243, height: 300, alt: 'tbar-angela-walking-stairs' %>
          </dt></dl><br style="clear: both" /><dl class='gallery-item'>
          <dt class='gallery-icon landscape'>
            <%= image_tag "tbar-saddle.jpg", width: 300, height: 200, alt: 'tbar-saddle' %>
          </dt></dl><dl class='gallery-item'>
          <dt class='gallery-icon landscape'>
            <%= image_tag "tbar-skull.jpg", width: 300, height: 225, alt: 'tbar-skull' %>
          </dt></dl><dl class='gallery-item'>
          <dt class='gallery-icon portrait'>
            <%= image_tag "tbar-window.jpg", width: 168, height: 300, alt: 'tbar-window' %>
          </dt></dl><br style="clear: both" /><dl class='gallery-item'>
          <dt class='gallery-icon portrait'>
            <%= image_tag "tbar-store3.jpg", width: 200, height: 300, alt: 'tbar-store3' %>
          </dt></dl>
          <br style='clear: both' />
        </div>

        <p>TheTBar.com actually helps men get it right.<br />
          Let us show you how&#8230;<br />
          Aim To Please!</p>
        <p>Debby Caplin<br />
          Founder<br />
          <a href="https://twitter.com/TheTQween">@TheTQween</a><br />
          <a href="https://twitter.com/TheTBar">@TheTBar</a></p>
        <p>&nbsp;</p>
</div><!-- .inner -->
